*{
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: rgb(18, 24, 16);
}
/*HEADER*/
header{
    /*background-color: rgb(41, 255, 69);*/
    display: flex;
    /*justify-content: space-between;*/
}
#dragonImg{
    background-image: rgb(60, 255, 0);
    color: rgb(51, 255, 0);
    width: 75px;
    height: 75px;
    margin-left: 2%;
}
.titleHeader{
    font-family:sans-serif;
    padding-top:20px;
}
.botonera{
    display: flex;
    width: 20%;
    margin-left: 30%;
    
    
}
li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
    margin: 25px 10px;
    width: 100px;
    height: 25px;
}
/*CONTENT*/
.content{
    margin-top: 20px;
    display: flex;
    padding: 10px 40px;
}
.text{
    margin-top: 40px;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.text p{
    width: 50%;
}
.eggDragonImg{
    width: 50%;
}